.card-img-top{
    height: 200px;
    width: 100%;
    border-radius:15px;
}
.card{
    width: 250;
    
}
.btn1{
    background-color: rgb(217, 80, 126);
    color: white;
    border-radius: 5px;
    border-color: white;
    font-size: medium;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .btn2{
    background-color: white;
    color:rgb(217, 80, 126);
    border-radius: 5px;
    border-color: transparent;
    font-size: medium;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 60px;
    bottom: 10px;
  }

  .container{
    padding-top: 30px;
  }

 